---
---

@import 'bootstrap';
@import 'syntax';

$font-stack-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ffffff;
  margin-bottom: 60px;
  font-family: $font-stack-serif;
}

body {
  >.container {
    padding-top: 0px;
    padding-bottom: 5px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: normal;
}

a, a:focus {
  color: #E53A40;
  text-decoration: none;
}

a:hover{
  color: #30A9DE;
  text-decoration: none;
}

p, div {
  font-size: 16px;
}

img {
  width: 100%;
}

.container > p {
  padding-top: 20px;
}

.header {
  margin-top: 15px;
}

.header-title {
  font-size: 28px;
}

.header a {
  color: #333333;
}

#header-list {
  padding: 10px 0 0 0;
}

#header-list li {
  list-style-type: none;
  display: inline;
  padding: 0 20px 0 0;
}

#header-list li > a {
  font-size: 18px;
}

.text-muted {
  font-size: 14px;
}

.text-muted, .text-muted > a {
  color: #6E7783;
  line-height: 26px;
}

.text-muted > a:hover {
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer > .container > .footer-text {
  font-size: 14px;
  color: #333333;
  margin: 0 0 5px 0;
}

.post a {
  color: #333333;
}

.post-date, .post-title {
  display: inline;
  font-size: 18px;
}

.post-date {
  font-size: 17px;
  color: #6E7783;
}

.post-title {
  margin-left: 10px;
}

