---
layout: page
permalink: /archive/
title: Архив
---

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}{% endunless %}
      <h2>{{ currentdate }}</h2>
    {% assign date = currentdate %}
  {% endif %}
    <p>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <span class="post-date">{{ post.date | date: "%d/%m" }}</span>
    </p>
    {% if forloop.last %}
  {% endif %}
{% endfor %}
