---
layout: page
title: Вишлист
permalink: /wishlist/
---

<ul class="wishlist-grid">
  {% assign sorted = site.data.wishlist  | sort: 'gifted' %}
  {% for item in sorted %}
    <li class="wishlist-card {% if item.gifted == 1 %}gifted{% endif %}">
      <a href="{{ item.link }}">
        <img class="wishlist-card__image" src="{{ item.image | prepend: site.baseurl }}" alt="Элемент из вишлиста: {{ item.title }}" />
      </a>
      <div class="wishlist-card__body">
        <a href="{{ item.link }}">
          <h3 class="wishlist-card__title">
            {{ item.title }}
          </h3>
        </a>
        <p class="wishlist-card__description">{{ item.description }}</p>
      </div>
      <div class="wishlist-card__footer">
        <span class="wishlist-card__price">{{ item.price }}</span>
        {% if item.gifted == 0 %}<a href="{{ item.link }}">Ссылка</a>{% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
