<meta charset="utf-8">
{% feed_meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if page.title %}{{ page.title }} — {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="stylesheet" href="{{ site.path }}/assets/css/awsm.min.css">
<link rel="stylesheet" href="{{ site.path }}/assets/css/main.css?t=20250326">
<link rel="icon" href="/favicon.ico" sizes="32x32">
<link rel="icon" href="/favicon.png" type="image/png">
<meta name="theme-color" content="#ffffff">
<script src="/assets/js/embla-carousel.umd.js"></script>
<script src="/assets/js/embla-carousel-fade.umd.js"></script>
<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
