<header>
  <h1>👨‍💻 Блог Анатолия Гуляева</h1>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Главная</a></li>
      <li><a href="{{ site.baseurl }}/archive/">Архив</a></li>
      <li><a href="{{ site.baseurl }}/tags/">Теги</a></li>
      <li><a href="{{ site.baseurl }}/about/">Обо мне</a></li>
      <li>CV (<a href="{{ site.baseurl }}/cv_rus/">рус</a> | <a href="{{ site.baseurl }}/cv_en/">en</a>)</li>
      <li><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
    </ul>
  </nav>
</header>
