html {
  background-image: url('/images/bg.jpg');
  background-repeat: repeat;
  background-size: 50%;
  height: 100%;
}
.embla {
  overflow: hidden;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
}

.embla__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.embla__counter {
  background-color: red;
  padding: 0.25em;
}

.embla__counter_text {
  margin: 0;
  font-size: 0.85rem;
}

.embla__button {
  background: red;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  appearance: none;
  width: 32px;
  height: 32px;
  font-size: 1rem;
}

.embla__button:hover {
  border: none;
}

.embla__button:not([disabled]):hover {
  border: none;
}

button:focus {
  border: none;
  outline: none;
}

button:not([disabled]):hover {
  border: none;
}

button:active,
select:active {
  background-color: transparent;
}

header > p.header-title {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
}

body > header {
  margin-bottom: 2.5em;
}

body > footer {
  margin-top: 3rem;
}
