<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="layout">
      {% include sidebar.html %}
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    <script>
      function toggleHeaderNav() {
        document.getElementById('header-nav').classList.toggle('open');
      }
    </script>
    <script data-goatcounter="https://kaneru.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
