---
layout: default
---

{% for post in site.posts %}
  <article>
    <header>
      <p>{{ post.date | date: "%d/%m/%Y" }}</p>
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    </header>
  </article>
{% endfor %}

<!--
{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <div class="prev">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">← Позднее</a>
      </div>
    {% endif %}
    {% if paginator.next_page %}
      <div class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Ранее →</a>
      </div>
    {% endif %}
  </div>
{% endif %}
-->
